
:root{
    --primary-color: #CE005D;
    --secondary-color: #FFE850;
    --text-color: #181818;
    --backgound-color: #fff8dc;
    --box-shadow-color:  #888888;
    --base-white-color: #ffffff;
    --base-black-color: #000000;
    --p1-color: #E70068;
    --p2-color: #FF3490;
    --p3-color: #FF4E9E;
    --p4-color: #FF5BA3;
    --p5-color: #FF6BB7;
    --p6-color: #FF7DC2;
    --p7-color: #FF8FD6;
    --p8-color: #FFA2E1;
    --p9-color: #FFB3EB;
    --p10-color: #FFC4F5;
    --p11-color: #FFD5FF;
    --s1-color: #FFEA5F;
    --s2-color: #FFEC6E;
    --s3-color: #FFED7E;
    --s4-color: #FFF08D;
    --s5-color: #FFF095;
    --s6-color: #FFF29C;
    --s7-color: #FFF6BB;
    --s8-color: #FFF8C9;
    --s9-color: #FFFBDF;
    --s10-color: #FFFEF5;
    --s11-color: #FFFDFD;
}
*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    
    margin-top: auto;

    max-width: 1200px;
    margin:  auto;

    

}
.hamburger-icon{
    display: none;}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    .logo {
        font-size: 10px;
        color: #3f3b3b;
        font-family: "Mogra", serif;
        font-weight: 700;
        font-style: normal;
        display: flex;
        align-items: center;
    }

}
.header-button {
    display: flex;
    align-items: center;
    
    font-size: 10px;
    gap: 10px;
    margin-right: 10px;
    
    
    
}
.Btn {
        font-size: 15px;
        color: var(--primary-color);
        font-family: "Mogra", serif;
        font-weight: 700;
        font-style: normal;
        background-color: #f3fd81;
        border: none;
        cursor: pointer;
       

        padding: 10px 20px;
        border-radius: 20px;
}
        .Btn:hover{
            background-color:#fca5e5;;
            color: #f8ff6c;
            border: none;
            cursor: pointer;
        }

.Btnlogin{
    font-size: 15px;
    color: var(--primary-color);
    font-family: "Mogra", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    
    border-radius: 20px;
    padding: 10px 20px;
}
    .Btnlogin:hover {
        background-color: #fca5e5;
        color: #f8ff6c;
        cursor: pointer;
        border: none;
    }
header{
    
    box-shadow: 0px 2px 10px #888888;
    padding: 10px 0;

}
nav {
    ul{
        display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    padding: 0 0 0 24px;
    gap: 20px;

   
        a {
        text-decoration: none;
        color: #4b4848;
        font-size: 14px;
        font-weight: bold;
        }
        a:hover{
        color: var(--p4-color);
        }
    }
    
    
    
}
body{
    font-family: "Mogra", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    
}
.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 30px;
}

.container2{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 30px;
}

    

    


.container-bg{
    background-color: #fbf8de;;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.hero{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-side{
    width: 50%;
    
    
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 20px;
        
        
    }
    p{
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--p3-color);
        margin: 20px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
        
    }
    .Btnlogin{
        display: inline-flex; 
    }
}

.right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 50%;
    
    imge{
        width: 100%;
        
    }
    
}

.solution{
    
    margin-top: 50px;

}
.solution-head{
    
    
    text-align: center;
    margin-bottom: 20px;
    
    
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 10px;
        
        
    }
    p{
        font-size: 1.2rem;
        color: var(--p3-color);
        margin: 4px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
        
        

    }
   
    
}

.solution-content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
    .itam{
        width: 32%;
    }
    
    
    
}
.solution-item{
    box-shadow: 0  2px 5px var(--box-shadow-color);
    padding: 20px;
    border-radius: 8px ;
    width: 30%;
    transition: transform 0.3s ease-in-out;
    
    &:hover{
        transform: scale(1.05);
    }
    
    
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        color:var(--primary-color);
        margin-bottom: 10px;
    
    }
    p{
        font-size: 1.2rem;
        color: var(--p3-color);
        margin: 10px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 10px;
    }
}
.discover{
    margin-top: 50px;
    
    
}
.discover-content{
    grid-template-columns: repeat(4,1fr);
    
    display: grid;
    gap: 20px;
    
    
}
.item{
    box-shadow: 0  2px 5px var(--box-shadow-color);
    padding: 20px;
    border-radius: 10px ;
   

    
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
    
    
    h2{
        font-size: 1.3rem;
        font-weight: 600;
        color:var(--primary-color);
        margin-bottom: 10px;
       
    
    }
    p{
        font-size: 1.1rem;
        color: var(--p3-color);
        margin: 10px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
    }
}
.customization{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding-top: 70px;
}
.support{
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row-reverse;
    padding: 50px ;
    margin-top: -80px;
}
.support-right{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    
    imge{
        width: 100%;
       
        
    }

}

.footer-logo{
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
    padding: 0 20px;
    margin-top: 70px;
    

}
.footer-item{
    
   
    
    h3{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
        color: var(--p3-color);
        
    }
    ul{
        list-style-type: none;
        
      
        li{
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 10px;
            color:var(--p5-color)
        }
    }
    
    a{
        color: var(--p5-color);
        text-decoration: none;
    }
    
    a:hover{
        color: var(--s4-color);
    }

    
    
}
.footer-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
    margin:  auto;
    
    

}

.footer {
    background-color: #fbf8de;
    padding: 40px 20px;
   
    
    

    
}
.footer-logo{
    display: inline;
    gap: 20px;


    
   
  
    h3{
        
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--p1-color);
        

        img{
        
        
        }
    }
    
    p{
        font-size: 0.95rem;
        font-weight: 300;
        margin-bottom: 10px;
        color: var(--p4-color);
        
    }
}

.footer-item{
    h3 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: var(--p1-color);
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
     }
    
}


.footer-menu{
    gap: 20px;
    padding: 20px;
    margin: 20px;
    

    h4{
        font-size: 1.1rem;
        font-weight: 750;
        margin-bottom: 10px;
        color: var(--p1-color);
        line-height: 30px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin-bottom: 4px;
        }
    }
    
    
    
    a{
        color: var(--p4-color);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 10px;
    }
    
    a:hover{
        color:var(--p2-color);
    }
    

}
.full-screen-menu{
    display: none;
}



/*for moblie*/
@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
        padding: 10px 10px;
    }
    nav{
        display: none;
    }
    .header-button{
        display: none;
        
    }
    .hamburger-icon{
        display: block;
        cursor: pointer;
        
        font-size: 1.5rem;
        

    }

    .hero{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        margin-bottom: 20px;
    }
    .right-side {
        width: 100%;
    } 
    .solution{
        flex-direction: column;


    }

    .solution-head{
        flex-direction: column;

    }   
    
    .solution-content{
        flex-direction: column;

        .solution-item{
            width: 100%;
            margin-bottom: 20px 0;
        }
    }
    .customization{
        flex-direction: column;
    }
        
    .support{
            flex-direction: column;
    }
    .support-right{
        width: 100%;
        img {
            width: 100%;
        }
    }
    .right-side{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .discover-content{
        grid-template-columns: repeat(1,1fr);
        gap: 0;

        .item{
            width: 100%;
            margin-bottom: 20px 0;
        }

    }
    .footer-container{
        flex-direction: column;
        margin-left: 80px;
    }
    .footer-logo{
        flex-direction: column;
        
        margin-left: 0;
        
        
    }
    .footer-item{
        flex-direction: column;
        margin-bottom: 20px;
        margin-left: 0;
        
        
    }
   
}  
.full-screen-menu{
    display: none;
}
.full-screen-menu {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* พื้นหลังสีดำโปร่งแสง */
    color: white;
    text-align: center;
    padding-top: 50px;
    z-index: 999;
}

.full-screen-menu ul {
    list-style: none;
    padding-top: 50px;
}

.full-screen-menu ul li {
    margin: 20px 0;
}

.full-screen-menu ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.full-screen-menu ul li a:hover {
    color: var(--secondary-color);
}

/* ปุ่มปิดเมนู */
.close-btn {
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}
.container2{
    flex-direction: column;
}
.container-bg{
    flex-direction: column;
}
.container{
    flex-direction: column;
}
    
    
        

