:root{
    --primary-color: #CE005D;
    --secondary-color: #FFE850;
    --text-color: #181818;
    --backgound-color: #fff8dc;
    --box-shadow-color:  #888888;
    --base-white-color: #ffffff;
    --base-black-color: #000000;
    --p1-color: #E70068;
    --p2-color: #FF3490;
    --p3-color: #FF4E9E;
    --p4-color: #FF5BA3;
    --p5-color: #FF6BB7;
    --p6-color: #FF7DC2;
    --p7-color: #FF8FD6;
    --p8-color: #FFA2E1;
    --p9-color: #FFB3EB;
    --p10-color: #FFC4F5;
    --p11-color: #FFD5FF;
    --s1-color: #FFEA5F;
    --s2-color: #FFEC6E;
    --s3-color: #FFED7E;
    --s4-color: #FFF08D;
    --s5-color: #FFF095;
    --s6-color: #FFF29C;
    --s7-color: #FFF6BB;
    --s8-color: #FFF8C9;
    --s9-color: #FFFBDF;
    --s10-color: #FFFEF5;
    --s11-color: #FFFDFD;
}
*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    max-width: 1200px;
    margin: 0 auto;


}
.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    .logo {
        font-size: 10px;
        color: #3f3b3b;
        font-family: "Mogra", serif;
        font-weight: 700;
        font-style: normal;
        display: flex;
        align-items: center;
    }

}
.header-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    gap: 10px;
    margin-right: 10px;
}
.Btn {
        font-size: 15px;
        color: var(--primary-color);
        font-family: "Mogra", serif;
        font-weight: 700;
        font-style: normal;
        background-color: #f3fd81;
        border: none;
        cursor: pointer;
       

        padding: 10px 20px;
        border-radius: 20px;
}
        .Btn:hover{
            background-color:#fca5e5;;
            color: #f8ff6c;
            border: none;
            cursor: pointer;
        }

.Btnlogin{
    font-size: 15px;
    color: var(--primary-color);
    font-family: "Mogra", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    
    border-radius: 20px;
    padding: 10px 20px;
}
    .Btnlogin:hover {
        background-color: #fca5e5;
        color: #f8ff6c;
        cursor: pointer;
        border: none;
    }
header{
    
    box-shadow: 0px 2px 10px #888888;
    padding: 10px 0;

}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    padding: 0 0 0 24px;
    gap: 20px;
    a {
        text-decoration: none;
        color: #4b4848;
        font-size: 14px;
        font-weight: bold;
    }
    a:hover{
        color: var(--p4-color);
    }
    
    
}
body{
    font-family: "Mogra", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    
}
.container{
    width: 1200px;
    margin: 50px auto;
    padding: 0 20px;

    

    

}
.container-bg{
    background-color: var(--backgound-color);
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.hero{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left-side{
    width: 50%;
    margin-top: 50px;
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 20px;
        
    }
    p{
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--p3-color);
        margin: 20px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
    }
    .Btnlogin{
        display: inline-flex; 
    }
}
.right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 50%;
    padding: 50px;
    imge{
        width: 50%;
        
    }
    
}
.solution{
    margin-bottom: 100px ;
    margin-top: 100px;

}
.solution-head{
    text-align: center;
    margin-bottom: 20px;
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 10px;
        display: inline-block;
    }
    p{
        font-size: 1.2rem;
        color: var(--p3-color);
        margin: 4px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
    }
   
    
}
.solution-content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .itam{
        width: 32%;
    }
    
    
    
}
.solution-item{
    box-shadow: 0  2px 5px var(--box-shadow-color);
    padding: 20px;
    border-radius: 8px ;
    width: 30%;
    transition: transform 0.3s ease-in-out;
    
   
    box-sizing: border-box;
    &:hover{
        transform: scale(1.05);
    }
    
    
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        color:var(--primary-color);
        margin-bottom: 10px;
    
    }
    p{
        font-size: 1.2rem;
        color: var(--p3-color);
        margin: 10px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
    }
}
.discover{
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.discover-content{
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    display: grid;
    margin-top: 30px;
    
}
.item{
    box-shadow: 0  2px 5px var(--box-shadow-color);
    padding: 20px;
    border-radius: 10px ;
   
    box-sizing: border-box;
    
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
    
    
    h2{
        font-size: 1.3rem;
        font-weight: 600;
        color:var(--primary-color);
        margin-bottom: 10px;
       
    
    }
    p{
        font-size: 1.1rem;
        color: var(--p3-color);
        margin: 10px 0;
        font-family: "Itim", serif;
        font-weight: 700;
        font-style: normal;
    }
}
.customization{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.support{
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row-reverse;
    padding: 50px ;
    margin-top: -80px;
}
.support-right{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    
    imge{
        width: 50%;
       
        
    }

}

.footer-right{
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
    padding: 0 20px;
    margin-top: 70px;
    

}
.footer-item{
    display: inline-block;
    vertical-align: top;
    color: var(--p3-color);
    text-decoration: none;
    
    h3{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
        color: var(--p3-color);
        
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 5px;
        li{
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 10px;
            color:var(--p5-color)
        }
    }
    
    a{
        color: var(--p5-color);
        text-decoration: none;
    }
    
    a:hover{
        color: var(--s4-color);
    }

    
    
}
.footer-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    padding: 20px;
    
    

}

.footer {
    background-color: #fff8dc;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    

    
}
.footer-logo{

    align-items: center;
    
    
    
    h3{
        display: inline-block;
        align-items: center;
        justify-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--p1-color);
    }
    img{
        width: 50px;
        height: 50px;
        margin-top: 10px;
        
    }
    p{
        font-size: 0.95rem;
        font-weight: 300;
        margin-bottom: 10px;
        color: var(--p4-color);
    }
}

.footer-item{
    display: flex;
    margin-left: 230px;
    
}


.footer-menu{
    gap: 20px;
    padding: 20px;
    margin: 20px;
    

    h4{
        font-size: 1.1rem;
        font-weight: 750;
        margin-bottom: 10px;
        color: var(--p1-color);
        line-height: 30px;
    }
    
    
    
    a{
        color: var(--p4-color);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 10px;
    }
    
    a:hover{
        color:var(--p2-color);
        text-decoration: solid;
        font-weight: 700;
        
        
    }
}
